body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

input,
select,
textarea {
    max-width: 280px;
}

.guid {
    font-family: Andale Mono, monospace;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    line-height: 2;
    overflow: auto;
}

.jumbotron, footer {
    text-align: center;
}


.c1, .c6 {
    color: #FFB842;
}

.c2, .c7 {
    color: #E86C30;
}

.c3, .c8 {
    color: #FF4341;
}

.c4, .c9 {
    color: #E230E8;
}

.c5, .c10 {
    color: #8134FF;
}

